USE [master];
GO

-- Nếu DB đã tồn tại thì xoá (tuỳ chọn: để tránh lỗi khi chạy lại)
IF DB_ID(N'FPTEventManagement') IS NOT NULL
BEGIN
    ALTER DATABASE [FPTEventManagement] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [FPTEventManagement];
END
GO

-- Tạo DB mới: KHÔNG chỉ định FILENAME để máy khác chạy được
CREATE DATABASE [FPTEventManagement]
CONTAINMENT = NONE;
GO

USE [FPTEventManagement];
GO

-- Fulltext (giữ nguyên logic của bạn)
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [FPTEventManagement].[dbo].[sp_fulltext_database] @action = 'enable';
END
GO

-- Các thiết lập DB (giữ nguyên như script của bạn)
ALTER DATABASE [FPTEventManagement] SET ANSI_NULL_DEFAULT OFF;
ALTER DATABASE [FPTEventManagement] SET ANSI_NULLS OFF;
ALTER DATABASE [FPTEventManagement] SET ANSI_PADDING OFF;
ALTER DATABASE [FPTEventManagement] SET ANSI_WARNINGS OFF;
ALTER DATABASE [FPTEventManagement] SET ARITHABORT OFF;
ALTER DATABASE [FPTEventManagement] SET AUTO_CLOSE OFF;
ALTER DATABASE [FPTEventManagement] SET AUTO_SHRINK OFF;
ALTER DATABASE [FPTEventManagement] SET AUTO_UPDATE_STATISTICS ON;
ALTER DATABASE [FPTEventManagement] SET CURSOR_CLOSE_ON_COMMIT OFF;
ALTER DATABASE [FPTEventManagement] SET CURSOR_DEFAULT  GLOBAL;
ALTER DATABASE [FPTEventManagement] SET CONCAT_NULL_YIELDS_NULL OFF;
ALTER DATABASE [FPTEventManagement] SET NUMERIC_ROUNDABORT OFF;
ALTER DATABASE [FPTEventManagement] SET QUOTED_IDENTIFIER OFF;
ALTER DATABASE [FPTEventManagement] SET RECURSIVE_TRIGGERS OFF;
ALTER DATABASE [FPTEventManagement] SET ENABLE_BROKER;
ALTER DATABASE [FPTEventManagement] SET AUTO_UPDATE_STATISTICS_ASYNC OFF;
ALTER DATABASE [FPTEventManagement] SET DATE_CORRELATION_OPTIMIZATION OFF;
ALTER DATABASE [FPTEventManagement] SET TRUSTWORTHY OFF;
ALTER DATABASE [FPTEventManagement] SET ALLOW_SNAPSHOT_ISOLATION OFF;
ALTER DATABASE [FPTEventManagement] SET PARAMETERIZATION SIMPLE;
ALTER DATABASE [FPTEventManagement] SET READ_COMMITTED_SNAPSHOT OFF;
ALTER DATABASE [FPTEventManagement] SET HONOR_BROKER_PRIORITY OFF;
ALTER DATABASE [FPTEventManagement] SET RECOVERY FULL;
ALTER DATABASE [FPTEventManagement] SET MULTI_USER;
ALTER DATABASE [FPTEventManagement] SET PAGE_VERIFY CHECKSUM;
ALTER DATABASE [FPTEventManagement] SET DB_CHAINING OFF;
ALTER DATABASE [FPTEventManagement] SET FILESTREAM(NON_TRANSACTED_ACCESS = OFF);
ALTER DATABASE [FPTEventManagement] SET TARGET_RECOVERY_TIME = 60 SECONDS;
ALTER DATABASE [FPTEventManagement] SET DELAYED_DURABILITY = DISABLED;
ALTER DATABASE [FPTEventManagement] SET ACCELERATED_DATABASE_RECOVERY = OFF;
GO

/****** Object:  Table [dbo].[Bill]    Script Date: 22/12/2025 2:25:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[currency] [nvarchar](10) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_Ticket]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Ticket](
	[category_ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[max_quantity] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[start_time] [datetime2](7) NOT NULL,
	[end_time] [datetime2](7) NOT NULL,
	[speaker_id] [int] NULL,
	[max_seats] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[area_id] [int] NULL,
	[banner_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_Request]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_Request](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[requester_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[preferred_start_time] [datetime2](7) NULL,
	[preferred_end_time] [datetime2](7) NULL,
	[expected_capacity] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[processed_by] [int] NULL,
	[processed_at] [datetime2](7) NULL,
	[organizer_note] [nvarchar](500) NULL,
	[created_event_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_Seat_Layout]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_Seat_Layout](
	[event_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[seat_type] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Event_Seat_Layout] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[ticket_id] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](2000) NOT NULL,
	[image_url] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[processed_by] [int] NULL,
	[processed_at] [datetime2](7) NULL,
	[refund_amount] [decimal](18, 2) NULL,
	[staff_note] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[seat_id] [int] IDENTITY(1,1) NOT NULL,
	[seat_code] [nvarchar](20) NOT NULL,
	[row_no] [nvarchar](10) NULL,
	[col_no] [nvarchar](10) NULL,
	[status] [nvarchar](20) NOT NULL,
	[area_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speaker]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speaker](
	[speaker_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[bio] [nvarchar](max) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[speaker_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[category_ticket_id] [int] NOT NULL,
	[bill_id] [int] NULL,
	[seat_id] [int] NULL,
	[qr_code_value] [nvarchar](max) NOT NULL,
	[qr_issued_at] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[checkin_time] [datetime2](7) NULL,
	[check_out_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[Wallet] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue](
	[venue_id] [int] IDENTITY(1,1) NOT NULL,
	[venue_name] [nvarchar](200) NOT NULL,
	[location] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[venue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue_Area]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue_Area](
	[area_id] [int] IDENTITY(1,1) NOT NULL,
	[venue_id] [int] NOT NULL,
	[area_name] [nvarchar](200) NOT NULL,
	[floor] [nvarchar](50) NULL,
	[capacity] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([bill_id], [user_id], [total_amount], [currency], [payment_method], [payment_status], [created_at]) VALUES (34, 7, CAST(100000.00 AS Decimal(18, 2)), N'VND', N'VNPAY', N'PAID', CAST(N'2025-12-11T09:02:10.9760000' AS DateTime2))
INSERT [dbo].[Bill] ([bill_id], [user_id], [total_amount], [currency], [payment_method], [payment_status], [created_at]) VALUES (38, 7, CAST(20000.00 AS Decimal(18, 2)), N'VND', N'VNPAY', N'PAID', CAST(N'2025-12-11T09:27:07.7390000' AS DateTime2))
INSERT [dbo].[Bill] ([bill_id], [user_id], [total_amount], [currency], [payment_method], [payment_status], [created_at]) VALUES (39, 1, CAST(10000.00 AS Decimal(18, 2)), N'VND', N'VNPAY', N'PAID', CAST(N'2025-12-11T10:08:16.9180000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[Category_Ticket] ON 

INSERT [dbo].[Category_Ticket] ([category_ticket_id], [event_id], [name], [description], [price], [max_quantity], [status]) VALUES (13, 7, N'VIP', N'VIP', CAST(100000.00 AS Decimal(18, 2)), 5, N'ACTIVE')
INSERT [dbo].[Category_Ticket] ([category_ticket_id], [event_id], [name], [description], [price], [max_quantity], [status]) VALUES (14, 7, N'STANDARD', N'Standard ', CAST(50000.00 AS Decimal(18, 2)), 45, N'ACTIVE')
INSERT [dbo].[Category_Ticket] ([category_ticket_id], [event_id], [name], [description], [price], [max_quantity], [status]) VALUES (15, 8, N'VIP', N'VIP', CAST(20000.00 AS Decimal(18, 2)), 30, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[Category_Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([event_id], [title], [description], [start_time], [end_time], [speaker_id], [max_seats], [status], [created_by], [created_at], [area_id], [banner_url]) VALUES (7, N'Sự kiện mừng xuân - 2026', N'Mừng xuân đón tết', CAST(N'2026-01-01T10:00:00.0000000' AS DateTime2), CAST(N'2026-01-01T17:00:00.0000000' AS DateTime2), 8, 50, N'OPEN', 4, CAST(N'2025-12-08T00:55:02.0952644' AS DateTime2), 1, N'https://img.freepik.com/premium-vector/talk-show-banner-template_791789-63.jpg?w=2000')
INSERT [dbo].[Event] ([event_id], [title], [description], [start_time], [end_time], [speaker_id], [max_seats], [status], [created_by], [created_at], [area_id], [banner_url]) VALUES (8, N'Buổi dạy Thư Pháp Ngày Xuân 2026', N'Đánh bài tiến lên', CAST(N'2026-01-01T18:00:00.0000000' AS DateTime2), CAST(N'2026-01-01T22:00:00.0000000' AS DateTime2), 9, 50, N'OPEN', 4, CAST(N'2025-12-08T01:18:54.1797513' AS DateTime2), 1, N'https://img.freepik.com/premium-vector/talk-show-banner-template_791789-63.jpg?w=2000')
INSERT [dbo].[Event] ([event_id], [title], [description], [start_time], [end_time], [speaker_id], [max_seats], [status], [created_by], [created_at], [area_id], [banner_url]) VALUES (10, N'chz', N'csxx', CAST(N'2025-12-10T08:00:00.0000000' AS DateTime2), CAST(N'2025-12-10T10:00:00.0000000' AS DateTime2), 11, 50, N'CLOSED', 4, CAST(N'2025-12-09T09:34:37.7433372' AS DateTime2), 1, N'https://oihlyoeuwpcfnoywboyg.supabase.co/storage/v1/object/public/user-uploads/1765247813727-umfdwj.jfif')
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Event_Request] ON 

INSERT [dbo].[Event_Request] ([request_id], [requester_id], [title], [description], [preferred_start_time], [preferred_end_time], [expected_capacity], [status], [created_at], [processed_by], [processed_at], [organizer_note], [created_event_id]) VALUES (6, 3, N'Sự kiện mừng xuân - 2026', N'Mừng xuân đón tết', CAST(N'2026-01-01T10:00:00.0000000' AS DateTime2), CAST(N'2026-01-01T17:00:00.0000000' AS DateTime2), 50, N'APPROVED', CAST(N'2025-12-08T00:54:26.9565068' AS DateTime2), 4, CAST(N'2025-12-08T00:55:02.0975519' AS DateTime2), N'Yêu cầu của bạn đã được phê duyệt tổ.', 7)
INSERT [dbo].[Event_Request] ([request_id], [requester_id], [title], [description], [preferred_start_time], [preferred_end_time], [expected_capacity], [status], [created_at], [processed_by], [processed_at], [organizer_note], [created_event_id]) VALUES (7, 3, N'Buổi dạy Thư Pháp Ngày Xuân 2026', N'Đánh bài tiến lên', CAST(N'2026-01-01T18:00:00.0000000' AS DateTime2), CAST(N'2026-01-01T22:00:00.0000000' AS DateTime2), 50, N'APPROVED', CAST(N'2025-12-08T01:18:34.6553303' AS DateTime2), 4, CAST(N'2025-12-08T01:18:54.1850797' AS DateTime2), NULL, 8)
SET IDENTITY_INSERT [dbo].[Event_Request] OFF
GO
INSERT [dbo].[Event_Seat_Layout] ([event_id], [seat_id], [seat_type], [status]) VALUES (7, 2, N'VIP', N'AVAILABLE')
INSERT [dbo].[Event_Seat_Layout] ([event_id], [seat_id], [seat_type], [status]) VALUES (7, 3, N'VIP', N'AVAILABLE')
INSERT [dbo].[Event_Seat_Layout] ([event_id], [seat_id], [seat_type], [status]) VALUES (7, 4, N'VIP', N'AVAILABLE')
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([report_id], [user_id], [ticket_id], [title], [description], [image_url], [created_at], [status], [processed_by], [processed_at], [refund_amount], [staff_note]) VALUES (2, 7, 161, N'Ghế hỏng', N'Ghế Hỏng', N'https://oihlyoeuwpcfnoywboyg.supabase.co/storage/v1/object/public/user-uploads/1766384617453-b94sn2.jfif', CAST(N'2025-12-22T06:23:40.8527331' AS DateTime2), N'APPROVED', 4, CAST(N'2025-12-22T06:56:46.0852963' AS DateTime2), CAST(200000.00 AS Decimal(18, 2)), N'Đồng ý hoàn tiền')
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([seat_id], [seat_code], [row_no], [col_no], [status], [area_id]) VALUES (2, N'A1', N'A', N'1', N'ACTIVE', 1)
INSERT [dbo].[Seat] ([seat_id], [seat_code], [row_no], [col_no], [status], [area_id]) VALUES (3, N'A2', N'A', N'2', N'ACTIVE', 1)
INSERT [dbo].[Seat] ([seat_id], [seat_code], [row_no], [col_no], [status], [area_id]) VALUES (4, N'A3', N'A', N'3', N'ACTIVE', 1)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Speaker] ON 

INSERT [dbo].[Speaker] ([speaker_id], [full_name], [bio], [email], [phone], [avatar_url]) VALUES (8, N'Nguyễn Võ Minh Châu', N'', N'long@email.com', N'0373253725', NULL)
INSERT [dbo].[Speaker] ([speaker_id], [full_name], [bio], [email], [phone], [avatar_url]) VALUES (9, N'Nguyễn Võ Minh Châu', N'', N'long@email.com', N'0373253725', NULL)
INSERT [dbo].[Speaker] ([speaker_id], [full_name], [bio], [email], [phone], [avatar_url]) VALUES (10, N'Châu', N'ffddd', N'chau@gmail.com', N'09123456', NULL)
SET IDENTITY_INSERT [dbo].[Speaker] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [full_name], [email], [phone], [password_hash], [role], [status], [created_at], [Wallet]) VALUES (1, N'Nguyễn Văn An', N'an.nvse14001@fpt.edu.vn', N'0901000100', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'STUDENT', N'ACTIVE', CAST(N'2025-12-01T09:16:32.7895734' AS DateTime2), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Users] ([user_id], [full_name], [email], [phone], [password_hash], [role], [status], [created_at], [Wallet]) VALUES (2, N'Trần Thị Bình', N'binh.ttse14002@fpt.edu.vn', N'0902000200', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'STUDENT', N'ACTIVE', CAST(N'2025-12-01T09:16:32.7895734' AS DateTime2), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Users] ([user_id], [full_name], [email], [phone], [password_hash], [role], [status], [created_at], [Wallet]) VALUES (3, N'Lê Quang Huy', N'huy.lqclub@fpt.edu.vn', N'0903000300', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'ORGANIZER', N'ACTIVE', CAST(N'2025-12-01T09:16:32.7895734' AS DateTime2), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Venue] ON 

INSERT [dbo].[Venue] ([venue_id], [venue_name], [location], [status]) VALUES (1, N'Nhà văn hóa sinh viên Đại học Quốc gia Tp HCM', N'Khu đô thị Đại học Quốc gia TP.HCM.', N'AVAILABLE')
INSERT [dbo].[Venue] ([venue_id], [venue_name], [location], [status]) VALUES (2, N'FPT University HCM Campus', N'Khu Công nghệ cao, Phường Long Thạnh Mỹ, Thành Phố Thủ Đức, Tp.HCM', N'AVAILABLE')
SET IDENTITY_INSERT [dbo].[Venue] OFF
GO
SET IDENTITY_INSERT [dbo].[Venue_Area] ON 

INSERT [dbo].[Venue_Area] ([area_id], [venue_id], [area_name], [floor], [capacity], [status]) VALUES (1, 1, N'Lầu 2, Hội trường nhà văn hóa sinh viên', N'2', 60, N'AVAILABLE')
INSERT [dbo].[Venue_Area] ([area_id], [venue_id], [area_name], [floor], [capacity], [status]) VALUES (6, 2, N'Sảnh lầu 4, P.408', N'4', 50, N'AVAILABLE')
INSERT [dbo].[Venue_Area] ([area_id], [venue_id], [area_name], [floor], [capacity], [status]) VALUES (7, 2, N'Sảnh lầu 3, P.306', N'3', 100, N'AVAILABLE')
SET IDENTITY_INSERT [dbo].[Venue_Area] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CategoryTicket_Event_Name]    Script Date: 22/12/2025 2:25:26 CH ******/
ALTER TABLE [dbo].[Category_Ticket] ADD  CONSTRAINT [UQ_CategoryTicket_Event_Name] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Report_Status_CreatedAt]    Script Date: 22/12/2025 2:25:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Report_Status_CreatedAt] ON [dbo].[Report]
(
	[status] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Report_TicketId]    Script Date: 22/12/2025 2:25:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Report_TicketId] ON [dbo].[Report]
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Report_UserId]    Script Date: 22/12/2025 2:25:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Report_UserId] ON [dbo].[Report]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Seat_Area_SeatCode]    Script Date: 22/12/2025 2:25:26 CH ******/
ALTER TABLE [dbo].[Seat] ADD  CONSTRAINT [UQ_Seat_Area_SeatCode] UNIQUE NONCLUSTERED 
(
	[area_id] ASC,
	[seat_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ticket_Event_Seat]    Script Date: 22/12/2025 2:25:26 CH ******/
ALTER TABLE [dbo].[Ticket] ADD  CONSTRAINT [UQ_Ticket_Event_Seat] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E616407CE7F93]    Script Date: 22/12/2025 2:25:26 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_VenueArea_Venue_AreaName]    Script Date: 22/12/2025 2:25:26 CH ******/
ALTER TABLE [dbo].[Venue_Area] ADD  CONSTRAINT [UQ_VenueArea_Venue_AreaName] UNIQUE NONCLUSTERED 
(
	[venue_id] ASC,
	[area_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_Currency]  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_PaymentStatus]  DEFAULT ('PENDING') FOR [payment_status]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_CreatedAt]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Category_Ticket] ADD  CONSTRAINT [DF_CategoryTicket_Price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Category_Ticket] ADD  CONSTRAINT [DF_CategoryTicket_Status]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_Status]  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_CreatedAt]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Event_Request] ADD  CONSTRAINT [DF_EventRequest_Status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Event_Request] ADD  CONSTRAINT [DF_EventRequest_CreatedAt]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Event_Seat_Layout] ADD  CONSTRAINT [DF_EventSeatLayout_Status]  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[Report] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Report] ADD  DEFAULT (N'PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Seat] ADD  CONSTRAINT [DF_Seat_Status]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Ticket] ADD  CONSTRAINT [DF_Ticket_QRIssuedAt]  DEFAULT (sysdatetime()) FOR [qr_issued_at]
GO
ALTER TABLE [dbo].[Ticket] ADD  CONSTRAINT [DF_Ticket_Status]  DEFAULT ('BOOKED') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Status]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Wallet]
GO
ALTER TABLE [dbo].[Venue] ADD  CONSTRAINT [DF_Venue_Status]  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[Venue_Area] ADD  CONSTRAINT [DF_VenueArea_Status]  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_User]
GO
ALTER TABLE [dbo].[Category_Ticket]  WITH CHECK ADD  CONSTRAINT [FK_CategoryTicket_Event] FOREIGN KEY([event_id])
REFERENCES [dbo].[Event] ([event_id])
GO
ALTER TABLE [dbo].[Category_Ticket] CHECK CONSTRAINT [FK_CategoryTicket_Event]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Area] FOREIGN KEY([area_id])
REFERENCES [dbo].[Venue_Area] ([area_id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Area]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_CreatedBy]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Speaker] FOREIGN KEY([speaker_id])
REFERENCES [dbo].[Speaker] ([speaker_id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Speaker]
GO
ALTER TABLE [dbo].[Event_Request]  WITH CHECK ADD  CONSTRAINT [FK_EventRequest_Event] FOREIGN KEY([created_event_id])
REFERENCES [dbo].[Event] ([event_id])
GO
ALTER TABLE [dbo].[Event_Request] CHECK CONSTRAINT [FK_EventRequest_Event]
GO
ALTER TABLE [dbo].[Event_Request]  WITH CHECK ADD  CONSTRAINT [FK_EventRequest_ProcessedBy] FOREIGN KEY([processed_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Event_Request] CHECK CONSTRAINT [FK_EventRequest_ProcessedBy]
GO
ALTER TABLE [dbo].[Event_Request]  WITH CHECK ADD  CONSTRAINT [FK_EventRequest_Requester] FOREIGN KEY([requester_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Event_Request] CHECK CONSTRAINT [FK_EventRequest_Requester]
GO
ALTER TABLE [dbo].[Event_Seat_Layout]  WITH CHECK ADD  CONSTRAINT [FK_EventSeatLayout_Event] FOREIGN KEY([event_id])
REFERENCES [dbo].[Event] ([event_id])
GO
ALTER TABLE [dbo].[Event_Seat_Layout] CHECK CONSTRAINT [FK_EventSeatLayout_Event]
GO
ALTER TABLE [dbo].[Event_Seat_Layout]  WITH CHECK ADD  CONSTRAINT [FK_EventSeatLayout_Seat] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seat] ([seat_id])
GO
ALTER TABLE [dbo].[Event_Seat_Layout] CHECK CONSTRAINT [FK_EventSeatLayout_Seat]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ProcessedBy] FOREIGN KEY([processed_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ProcessedBy]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Ticket] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Ticket] ([ticket_id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Ticket]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_User]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Area] FOREIGN KEY([area_id])
REFERENCES [dbo].[Venue_Area] ([area_id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Area]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[Bill] ([bill_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Bill]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_CategoryTicket] FOREIGN KEY([category_ticket_id])
REFERENCES [dbo].[Category_Ticket] ([category_ticket_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_CategoryTicket]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Event] FOREIGN KEY([event_id])
REFERENCES [dbo].[Event] ([event_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Event]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seat] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seat] ([seat_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seat]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_User]
GO
ALTER TABLE [dbo].[Venue_Area]  WITH CHECK ADD  CONSTRAINT [FK_VenueArea_Venue] FOREIGN KEY([venue_id])
REFERENCES [dbo].[Venue] ([venue_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Venue_Area] CHECK CONSTRAINT [FK_VenueArea_Venue]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD CHECK  (([payment_status]='REFUNDED' OR [payment_status]='FAILED' OR [payment_status]='PAID' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[Category_Ticket]  WITH CHECK ADD CHECK  (([max_quantity]>(0)))
GO
ALTER TABLE [dbo].[Category_Ticket]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD CHECK  (([max_seats]>(0)))
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='CLOSED' OR [status]='OPEN' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [CK_Event_Time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [CK_Event_Time]
GO
ALTER TABLE [dbo].[Event_Request]  WITH CHECK ADD  CONSTRAINT [CK_EventRequest_Status] CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[Event_Request] CHECK CONSTRAINT [CK_EventRequest_Status]
GO
ALTER TABLE [dbo].[Event_Seat_Layout]  WITH CHECK ADD  CONSTRAINT [CK_EventSeatLayout_SeatType] CHECK  (([seat_type]='STANDARD' OR [seat_type]='VIP'))
GO
ALTER TABLE [dbo].[Event_Seat_Layout] CHECK CONSTRAINT [CK_EventSeatLayout_SeatType]
GO
ALTER TABLE [dbo].[Event_Seat_Layout]  WITH CHECK ADD  CONSTRAINT [CK_EventSeatLayout_Status] CHECK  (([status]='INAVAILABLE' OR [status]='BOOKED' OR [status]='HOLD' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Event_Seat_Layout] CHECK CONSTRAINT [CK_EventSeatLayout_Status]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD CHECK  (([status]=N'CANCELLED' OR [status]=N'REJECTED' OR [status]=N'APPROVED' OR [status]=N'PENDING'))
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Status] CHECK  (([status]='REFUNDED' OR [status]='EXPIRED' OR [status]='CHECKED_OUT' OR [status]='CHECKED_IN' OR [status]='BOOKED'))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='ADMIN' OR [role]='STAFF' OR [role]='ORGANIZER' OR [role]='STUDENT'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([status]='BLOCKED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Venue]  WITH CHECK ADD CHECK  (([status]='UNAVAILABLE' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Venue_Area]  WITH CHECK ADD CHECK  (([capacity]>(0)))
GO
ALTER TABLE [dbo].[Venue_Area]  WITH CHECK ADD CHECK  (([status]='UNAVAILABLE' OR [status]='AVAILABLE'))
GO
/****** Object:  StoredProcedure [dbo].[usp_CloseExpiredEvents_CascadeAll]    Script Date: 22/12/2025 2:25:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CloseExpiredEvents_CascadeAll]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Now DATETIME2(7) = SYSDATETIME();

    DECLARE @ExpiredEvents TABLE (event_id INT PRIMARY KEY);

    -- Chọn các event cần đóng
    INSERT INTO @ExpiredEvents(event_id)
    SELECT e.event_id
    FROM dbo.[Event] e WITH (READPAST)
    WHERE e.[status] = 'OPEN'
      AND e.end_time <= @Now;

    IF NOT EXISTS (SELECT 1 FROM @ExpiredEvents)
        RETURN;

    BEGIN TRAN;

    /* 1) Event -> CLOSED */
    UPDATE e
    SET e.[status] = 'CLOSED'
    FROM dbo.[Event] e
    INNER JOIN @ExpiredEvents x ON x.event_id = e.event_id;

    /* 2) Category_Ticket -> INACTIVE */
    UPDATE ct
    SET ct.[status] = 'INACTIVE'
    FROM dbo.Category_Ticket ct
    INNER JOIN @ExpiredEvents x ON x.event_id = ct.event_id
    WHERE ct.[status] <> 'INACTIVE';

    /* 3) Ticket -> EXPIRED (trừ CHECKED_IN và CANCELLED) */
    UPDATE t
    SET t.[status] = 'EXPIRED'
    FROM dbo.Ticket t
    INNER JOIN @ExpiredEvents x ON x.event_id = t.event_id
    WHERE t.[status] NOT IN ('CHECKED_IN', 'CANCELLED', 'EXPIRED');

    /* 4) Seat -> INAVAILABLE (khóa toàn bộ ghế của event đã đóng) */
    UPDATE s
    SET s.[status] = 'INAVAILABLE'
    FROM dbo.Event_Seat_Layout s
    INNER JOIN @ExpiredEvents x ON x.event_id = s.event_id
    WHERE s.[status] <> 'INAVAILABLE';

    COMMIT TRAN;
END
GO
USE [master]
GO

--!- Create login and user for admin account

IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = '$(DB_USER)')
BEGIN
    CREATE LOGIN [$(DB_USER)] WITH PASSWORD = '$(DB_PASSWORD)', CHECK_POLICY = OFF, CHECK_EXPIRATION = OFF, DEFAULT_DATABASE = [FPTEventManagement];
END
GO

USE [FPTEventManagement]
GO
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = '$(DB_USER)')
BEGIN
    CREATE USER [$(DB_USER)] FOR LOGIN [$(DB_USER)];
    ALTER ROLE [db_datareader] ADD MEMBER [$(DB_USER)];
	ALTER ROLE [db_datawriter] ADD MEMBER [$(DB_USER)];
END
ELSE
BEGIN
	IF EXISTS (SELECT * FROM sys.database_principals WHERE name = '$(DB_USER)')
	BEGIN
		ALTER USER [$(DB_USER)] WITH LOGIN = [$(DB_USER)];
	END
END
GO
